version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:20.19.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Run tests
          command: npm run test:run
      - run:
          name: Run E2E tests
          command: npm run test:e2e

workflows:
  version: 2
  test:
    jobs:
      - test
